In [1]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05'],
    'Value': [100, None, 105, None, 110]
})

# Applying forward fill
df_forward_filled = df.fillna(method='ffill')

# Applying backward fill
df_backward_filled = df.fillna(method='bfill')

## Backward fill and forward fill take the next row's value or the previous one's and fill in the current cell with NA. Used primarily in Time Series

In [4]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05'],
    'Value': [100, None, 105, None, 110]
})

# Applying forward fill 
df_forward_filled = df.fillna(method='ffill')

# Applying backward fill
df_backward_filled = df.fillna(method='bfill')

In [5]:
df_forward_filled

         Date  Value
0  2023-08-01  100.0
1  2023-08-02  100.0
2  2023-08-03  105.0
3  2023-08-04  105.0
4  2023-08-05  110.0

In [6]:
df_backward_filled

         Date  Value
0  2023-08-01  100.0
1  2023-08-02  105.0
2  2023-08-03  105.0
3  2023-08-04  110.0
4  2023-08-05  110.0