In [12]:
import pandas as pd
import numpy as np

# Sample dataframe
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8]

})

In [14]:
# Fill with a specific value, e.g., 0
df_1 = df.fillna(0)

# Fill with mean of the column
df_2 = df['A'].fillna(df['A'].mean())

In [15]:
df_1

     A    B
0  1.0  5.0
1  2.0  0.0
2  0.0  7.0
3  4.0  8.0

In [16]:
df_2

0    1.000000
1    2.000000
2    2.333333
3    4.000000
Name: A, dtype: float64